h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 250%;
}
h1 {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 450%;
    font-weight:bold;

}
h2{
	text-align: center;
}
.jumbotron{
	text-align: center;
}
.volts{
	color: rgb(253,31,94);
}
.amps{
	color: rgb(30,249,161)
}
.power{
	color:rgb(127,253,31);
}
.datas{
	text-align: center;
}
.pwh{
	font-size: 500%;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
    width: 1vw;
}
td{
	width:33%;
}
td.full{
	width:100%;
  font-size: 1.6vh;
}
td.half{
	width:50%;
}
td.morehalf{
  width:30%;
}
.block-instant{
	height: 100%;
}
.console{
	background-color: black;
  color:white;
  text-align:center;
  margin-top: 1%;
  padding:2%;
  font-size: 143%;

}
.tabconsole{
  display:inline-block;
  table-layout:fixed;
  border-spacing: 5px;
  border-collapse: separate;
}
.message{
  /*border-top: solid 1px white;
  border-bottom: solid 1px white;*/
/*  max-height: 20px;
  overflow: hidden;*/

}
.top-buffer { margin-top:5px; }
.top-buffer-xl { margin-top:25px; }
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
    justify-content: center;

}