<div ng-include="'components/navbar/navbar.html'"></div>
<div class="special">
	<div class="jumbotron">
		<div class="row">
		 <div class="col-md-4 console img-rounded">
		 	<table class="tabconsole">
        <tr ng-repeat="item in message | limitTo: -10 track by $index" class="item-checked">
	          <td class="morehalf"  ng-style="item.color">{{item.date}}</td>
	          <td class="morehalf" ng-style="item.color">-----</td>
	          <td class="full" ng-style="item.color"><div class="message"><b>{{item.message}}</b></div></td>
        </tr>
      </table>
		 </div>
		 <div class="col-md-4">
		 	<h1> Datas </h1>
		 	<div class="row">
		 		<div class="col-md-6 volts">
		 			<h1>{{InstaVolt}} Volts</h1>
		 		</div>
		 		<div class="col-md-6 amps">
		 			<h1>{{InstaAmp}} Amps</h1>
		 		</div>
		 	</div>
		 	<div class="row power">
		 		<h1>{{InstaPower}} Watts</h1>
		 	</div>
		 </div>
		 <div class="col-md-4">
		 	<h1> Control </h1>
		 	<h2> Window Status : </h2>
		 	<div class="row">
		 		<button class="btn btn-xl btn-success top-buffer-xl" ng-click="blindUp()">Up</button>
		 	</div>
		 	<div class="row">
		 		<button class="btn btn-xl btn-success top-buffer" ng-click="blindDown()">Down</button>
		 	</div>		 	
		 	<div class="col-md-6">
		 		<button class="btn btn-xl btn-info top-buffer-xl" ng-click="localOpt()">Local Optimum</button>
		 	</div>
		 	<div class="col-md-6">
		 		<button class="btn btn-xl btn-info top-buffer-xl" ng-click="globalOpt()">Find global optimum</button>
		 	</div>
		 </div> 
		</div>
	</div>
</div>
