<div ng-include="'components/navbar/navbar.html'"></div>
<!-- Volts:
<input type="text" ng-model="dataSend.volt" />
Amp:
<input type="text" ng-model="dataSend.amp" />
<button ng-click="addData(dataSend)">Add</button>
<button ng-click="addAll()">Add All</button> -->
<div class="container">
<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" chart-colours="colors" >
</canvas> 
<div class="container" ng-show="showStats">
	<div class="datas">
    <p><b>Period :</b> {{period}} </p>
    <div ng-show="showDatas">
    ({{timediff}} hours)
    <table class="center">
    <tr>
    <td>
    <h1 class="volts">{{periodVolt}} V</h1>
    </td>
    <td>
    <h1 class="amps">{{periodAmp}} A </h1>
    </td>
    <td>
    <h1 class="power">{{power}} W </h1>
    </td>
    </tr>
    <tr>
    <td>
    </td>
    <td>
    <h1 class="pwh">{{kwh}} kwh </h1>
    </td>
    </tr>
    </table>
    </div>
 	</div>
</div>
</div>