<div class="col-md-12">
This is the history view.
<!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="data in SolarDatas">
        <li><a href="#" tooltip="{{data.date}">{{data}}<button type="button" class="close">&times;</button></a></li>
      </ul>-->
</div>
Volts:
<input type="text" ng-model="dataSend.volt" />
Amp:
<input type="text" ng-model="dataSend.amp" />
<button ng-click="addData(dataSend)">Add</button>
<button ng-click="addAll()">Add All</button>
<div class="container">
<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" chart-colours="colors" >
</canvas> 
<div class="container" ng-show="showStats">
	<div class="datas">
    <p><b>Period :</b> {{period}} </p>
    <div ng-show="showDatas">
    ({{timediff}} hours)
    <table class="center">
    <tr>
    <td>
    <h1 class="volts">{{periodVolt}} V</h1>
    </td>
    <td>
    <h1 class="amps">{{periodAmp}} A </h1>
    </td>
    <td>
    <h1 class="power">{{power}} W </h1>
    </td>
    </tr>
    <tr>
    <td>
    </td>
    <td>
    <h1 class="pwh">{{kwh}} kwh </h1>
    </td>
    </tr>
    </table>
    </div>
 	</div>
</div>
</div>